
.container {
  width: 100%;
  padding: 10px;
}

.title h4 {
  font-weight: 600;
  color: #ff6a59;
  font-size: 1.125rem;
}


.infomation {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #fff;
}

.infomation .row {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
}

.infomation .col-5 {
  display: flex;
  flex-wrap: wrap;
}

.infomation .col-5:first-child {
  width: 60%;
}

.infomation .col-5:last-child {
  width: 40%;
}

.infomation .col-5 .field {
  font-weight: 500;
  width: 40%;
  color: #374557;
}

.infomation .col-5 .value {
  color: #777777;
}

.salary-table {
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
}